.pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: var(--main-bg);
}
.u-btn.pdf-close-btn {
    position: absolute;
    right: 0;
    padding: 10px;
    background: var(--color-failed);
    border-radius: 0;
    bottom: 0;
    border: none;
}